*{
    margin: 0;
    padding: 0;
     /* background-color: #0b0620; */
    font-family: "Nunito", sans-serif; 
    color: white;
}
body{
    background-color: #090513;
}

#top{
     position: relative;
    overflow: hidden;

height:100vh;
margin-left: -1px;
background:
/* linear-gradient(rgba(8,5,25,.75),
rgba(8,5,25,.75)), */

url(./assets/Misty\ Twilight\ Cityscape\ with\ Futuristic\ Elements.png);

background-size:cover;
background-position:center;

} 
#top::after{

    content:"";

    position:absolute;

    width:340px;
    height:340px;

    border-radius:50%;

    right:255px;
    top:150px;

    background:
    radial-gradient(circle,
    rgba(255,255,255,.9) 0%,
    rgba(130,170,255,.7) 15%,
    rgba(92,225,230,.35) 35%,
    rgba(123,47,247,.18) 55%,
    transparent 72%);

    mix-blend-mode:screen;

    animation:portalPulse 4s ease-in-out infinite;

    pointer-events:none;

}
@keyframes portalPulse{

0%{

transform:scale(.9);

opacity:.5;

filter:blur(12px);

}

50%{

transform:scale(1.15);

opacity:1;

filter:blur(22px);

}

100%{

transform:scale(.9);

opacity:.5;

filter:blur(12px);

}

}
#top::before{

content:"";

position:absolute;

width:100px;
height:120px;

right:425px;
top:300px;

border-radius:50%;

border:1px solid rgba(170,130,255,.35);

box-shadow:
0 0 20px #ffffff,
0 0 40px #e65c88;

animation:spinPortal 10s linear infinite;

pointer-events:none;

}
@keyframes spinPortal{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

/* #top{

    height:100vh;

    background:
    radial-gradient(circle at 70% 45%,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0) 28%,
    rgba(11,6,32,.18) 48%,
    rgba(11,6,32,.45) 100%),

    linear-gradient(to right,
    rgba(11,6,32,.88) 0%,
    rgba(11,6,32,.45) 28%,
    rgba(11,6,32,.08) 55%,
    rgba(11,6,32,.12) 75%,
    rgba(11,6,32,.65) 100%),

    url("./assets/heroimg.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

} */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -30px;
    margin-right: 80px;
    background: transparent;
}
header img{
    width: 400px;
    margin-top: -60px;

}
nav{
    display: flex;
    gap: 30px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: large;
    margin-top: -50px;
    background-color: transparent;
}
nav a:hover{

    color:#b56cff;

}
section{
    background-color:#0b0620 ;
    
}
#hero{
    background-color: transparent;
    margin-left: 120px;
    padding:40px;
}
#hero h1{
    font-size: 68px;
    line-height: 5rem;
     font-family: "Exo 2", sans-serif;
}
.color{
    color: #a855f7;
}
#hero p{
    margin: 20px 0px 30px 0px;
}
#features{

    padding:80px;

    text-align:center;

}

#features h2{

    font-family: "Exo 2", sans-serif;
    text-align: center;
   font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.featureContainer{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 40px;
}
.card{
    border: 1px solid rgb(24, 13, 35);
    border-radius: 16px;
    padding: 35px;
    background-color: #1a103d;
    text-align: center;
    width: 320px;
}

.card i{
    border: 1px solid violet;
    border-radius: 100%;
    padding: 15px;
      font-size:40px;
    background-color: #0b0620;
    color:#b56cff;

    margin-bottom:15px;
}
.card h3{

    margin-bottom:5px;

    font-size:24px;

}

.card p{

    color:#d3d3d3;

    line-height:1.3;

}
.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 25px #7b2ff7 ;

}

#testimonials{
        padding:80px;

    text-align:center;
    margin-bottom: 90px;
}
#testimonials h2{
    margin-top: -60px;
    font-size: 30px;
    margin-bottom: 20px;
}
.stars{
    color: rgb(255, 183, 0);
}

footer{
    
    display: flex;
    justify-content: space-between;
    margin-top:-80px;

    padding:30px;

    background:#090513;

    text-align:center;

    color:#bdbdbd;

}
button {
  position: relative;
  padding: 12px 35px;
  background: linear-gradient(135deg,#7b2ff7,#a855f7);
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  border: 3px solid #b56cff;
  border-radius: 60px;
  box-shadow: 0 0 0 rgba(168,85,247,.45);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #ffffff;
    border:2px solid #c084fc;

  box-shadow:
  0 0 15px #a855f7,
  0 0 35px rgba(168,85,247,.7);

  /* box-shadow: 0 0 25px #fec1958c; */
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-thumb{
    background-color: rgb(138, 40, 173);
    border-radius: 8px;
}
::-webkit-scrollbar-track{
    background-color: #090513;
}

.social{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social i{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    height: 18px;
    border-radius: 50%;
}
.footerleft i{
    
    color: #b56cff;

}
#footer h2:hover{
    color: #a855f7;
    /* text-shadow:0 0 10px #7b2ff7  ; */

    
}
h2:hover{
      /* text-shadow:0 0 10px #7b2ff7  ; */
}
.social i:hover{
    color: #7b2ff7;
    border: #7b2ff7;
    
    /* transform:translateY(-1px); */

    box-shadow:0 0 15px rgb(255, 255, 255);

}